#TRAVEL {
  color : black;
  background-color: #c9fda1;
}

#map {
  float : left;
  width : 45%;
  height : 100%;
}

#TRAVEL table {
  float : left;
  text-align: center;
  color : black;
  width : 55%;
  height : calc(100% - 64px);
}

#TRAVEL table h1 {
  font-size : 36px;
}

#TRAVEL img {
  float : left;
  width : 620px;
  height : 320px;
  border-radius: 15px;
}

#TRAVEL .text {
  width: 33%;
}

#TRAVEL header {
  background-color: rgba(255,255,255,0.5);
  font-family: "Noto Sans KR", sans-serif;
  line-height : 64px;
  background-color: white;
  width : 100%;
  height : 64px;
  text-align: center;
}

#TRAVEL header .app {
  float : left;
  text-align: center;
  width : 20%;
  height : 64px;
  float :left;
  color :black;
  background-color: #9be186;
}

#TRAVEL header .title {
  float : left;
  width : calc(80% - 132px);
}

#TRAVEL header .control {
  float : left;
  width : 132px;
}

#TRAVEL button {
  width : 64px;
  height : 64px;
  background-color : rgba(0,0,0,0.2) ;
  color : black;
  border: none;
  margin : 0;
  padding : 0;
}

#TRAVEL .close {
  text-align: center;
  width: 10%;
  float: right;
  color: white;
  background-color: black;
  border-radius: 10px;
  /* position: absolute; */
  top: 24px;
  position: absolute;
  right: 24px;
}

#TRAVEL section { 
  width: calc(100% - 40px);
  margin: 20px;
}